@model PersonasPerdidas.Models.Rol

@{
    ViewBag.Title = "Edit";
}
<br />
<br />

<CENTER>
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0" style="font-weight: bold;font-family:'Californian'">Editar un rol</h2>
    <hr />
    <h4>Rol</h4>
    <hr />



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @*<div class="form-horizontal">*@

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id_Rol)

        <div class="form-group">

            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
        @*</div>*@
    }
    <br />    <br />    
    <center>

        <button type="button" class="btn btn-light" .text-nowrap style=" color: white;
        text-decoration: none;
        font-weight: bold;
        font-family: Raleway-Regular;
        font-size:15px;
        font-family:'Californian';

       ">
            @Html.ActionLink("Volver a la lista de roles", "Index", "Rols", new { rol = ViewBag.Rol, Usuario = ViewBag.UsuarioActual, NombreUsuario = ViewBag.NombreUsuario, Correo = ViewBag.Correo }, null)


        </button>
    </center>
    <br /><br />

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</CENTER>