@model PersonasPerdidas.Models.Usuario

@{
    ViewBag.Title = "Delete";
}

    <CENTER>
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0" style="font-weight: bold;font-family:'Californian'">Borrar Usuario</h2>
        <hr />
        <h4>Estas seguro de que quieres borrarlo?</h4>
        <hr />

        
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contrasena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contrasena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rol.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol.Descripcion)
        </dd>

        </dl>
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Borrar" class="btn btn-default" /> |
                <button type="button" class="btn btn-light">
                    @Html.ActionLink("Volver a la lista de usuarios", "Index", "Usuarios", new { rol = ViewBag.Rol, Usuario = ViewBag.UsuarioActual, NombreUsuario = ViewBag.NombreUsuario, Correo = ViewBag.Correo }, null)
                </button>
            </div>
          
        }
        </CENTER>
<br />
      
