@model PersonasPerdidas.Models.FotosPersona

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<CENTER>
    <br /><br />
    <h2 style="font-weight:bold">HEMOS ENCONTRADO A LA PERSONA QUE ESTAS BUSCANDO </h2>
    <hr />
</CENTER>
@using (Html.BeginForm("EncontramosTuPariente", "Camaras"@*, new { rol = ViewBag.Rol, Usuario = ViewBag.UsuarioActual, NombreUsuario = ViewBag.NombreUsuario, Correo = ViewBag.Correo }*@, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
@Html.AntiForgeryToken()
<div>
    <div class="container">

        <div class="row">
            <asp:Repeater id="Repeater1" runat="server">
                <ItemTemplate>
                    <div class="form-inline">
                        <center>
                            <!--Imagen de la base de datos de la persona que se esta buscando-->
                            <img width="400" height="300" style="padding-right:20px" src="~/Content/imagen/27ac615b-b6ab-48fa-866f-7bf2eaec1d05.jpeg" />
                            <!--Imagen tomada por la camara de la persona que se esta buscando-->
                            <img width="400" height="300" style="padding-left:20px" src="~/Content/imagen/2maxresdefault.jpg" /> <hr />
                        </center>
                    </div>
                    <center>
                        @Html.Label("SIMILITUD")
                        <div class="progress" style="width:400px">
                            <!--en el width que esta en el style de abajo es que se pone que tan lleno esta-->
                            <!--en este caso esta lleno en un 75%-->

                            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" style="width:50% ; min-width: 20%">
                                <span class="sr-only">10%</span>
                            </div>
                            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="width:50% ; min-width: 20%">
                                <span class="sr-only">10%</span>
                            </div>
                        </div>
                    </center>
                    <!--NOMBRE,ENCONTRADO EN ...HORA,ETC-->
                 
                        <div class="form-group">
                            <div class="container">
                                <div class="form-group">
                                    @Html.Label("yazmin")
                                    <div class="col-md-5">
                                        @Html.Label("Nombre:")
                                    </div>


                                    <div class="form-group">
                                        @Html.Label("Instituto tecnologico de las americas")
                                        <div class="col-md-5">
                                            @Html.Label("Encontrado en:")
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("20:00")
                                        <div class="col-md-5">
                                            @Html.Label("Hora")
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="date">
                                        @*@Html.TextBox("fechaFin", "", new { @class = "form-control", @type = "date" })*@
                                        <div class="col-md-5">
                                            @Html.Label("Fecha encontrado")
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <center>
                                <h3 style="font-weight:bold"> Esta es la persona que estas buscando?</h3>
                                <div class="form-inline">
                                    <button class="btn btn-success">SI</button>
                                    <button class="btn btn-danger">NO</button>
                                </div>
                            </center>
                            <br />
                        </div>

                </ItemTemplate>
            </asp:Repeater>
        </div>

    </div>

</div>

}
 
