@model PersonasPerdidas.Models.CrearPersonaPerdida

@{
    ViewBag.Title = "Delete";
}
    <CENTER>
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0" style="font-weight: bold;font-family:'Californian'">Reporte personas</h2>
        <hr />




        <h4>Estas segguro de que quieres eliminar este reporte?</h4>
        <hr />
        <div>

            @*<dl class="dl-horizontal">*@
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fecha_desaparicion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fecha_desaparicion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Edad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Edad)
            </dd>




            <dt>
                @Html.DisplayNameFor(model => model.FechaEncontrado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaEncontrado)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Usuario.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Usuario.Nombre)
            </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <br /><br />
                <div class="btn-group" role="group" aria-label="Basic example">
                  <input type="submit" value="Borrar" class="btn btn-default" /> |
                   
                    <button type="button" class="btn btn-secondary" style="float:right">

                        @Html.ActionLink("Volver a la lista de personas", "Index", "CrearPersonaPerdidas", new { rol = ViewBag.Rol, usuario = ViewBag.UsuarioActual, NombreUsuario = ViewBag.NombreUsuario, Correo = ViewBag.Correo }, null)
                    </button>
                    <br /> <br /> <br />
                </div>


            }
        </div>
    </CENTER>
