@model PersonasPerdidas.Models.CrearPersonaPerdida

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CrearPersonaPerdida</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_desaparicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_desaparicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edad)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.FechaEncontrado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaEncontrado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nombre)
        </dd>
       
    </dl>
</div>
<p>
   
        @Html.ActionLink("Editar", "Edit", new {  id = Model.Id_CPP ,rol = ViewBag.Rol, usuario = ViewBag.UsuarioActual, NombreUsuario = ViewBag.NombreUsuario, Correo = ViewBag.Correo }, null)
        @Html.ActionLink("Volver a la lista de personas", "Index", "CrearPersonaPerdidas", new { rol = ViewBag.Rol, usuario = ViewBag.UsuarioActual, NombreUsuario = ViewBag.NombreUsuario, Correo = ViewBag.Correo }, null)

</p>
